<h2 class="mat-title-large">Settings</h2>

<form [formGroup]="form" (ngSubmit)="update()">
  <div formArrayName="profiles" class="flex flex-row space-x-2">
    <mat-card
      *ngFor="let profile of profiles.controls; let i = index"
      [formGroupName]="i"
    >
      <mat-card-header>
        <mat-card-title>{{ data[i].name | titlecase }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="flex flex-col space-y-4 p-2">
          <mat-form-field>
            <mat-label>Start date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="startDate"
            />
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-slide-toggle formControlName="isActive">Active</mat-slide-toggle>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mt-4">
    <button mat-raised-button type="submit" [disabled]="!form.dirty">
      Save All Changes
    </button>
  </div>
</form>
<div class="mt-4">
  <app-api-key-form></app-api-key-form>
</div>
