<div class="h-full w-full flex flex-col">
  <div class="mat-typography">
    <h2>Electricity consumption</h2>
  </div>

  <div class="form-field-container">
    <mat-form-field>
      <mat-label> Date range </mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input
          matStartDate
          placeholder="Start date"
          [formControl]="startDateControl"
        />
        <input
          matEndDate
          placeholder="End date"
          [formControl]="endDateControl"
        />
      </mat-date-range-input>
      <mat-hint>DD/MM/YYYY - DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Aggregation</mat-label>
      <mat-select [formControl]="aggregationControl">
        <mat-option value="raw">Raw</mat-option>
        <mat-option value="daily">Daily</mat-option>
        <mat-option value="monthly">Monthly</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button type="button" (click)="showLastSevenDays()">
      Last 7 days
    </button>
    <button mat-button type="button" (click)="showThisMonth()">
      This month
    </button>
    <button mat-button type="button" (click)="showPreviousMonth()">
      Previous month
    </button>
    <button mat-button type="button" (click)="exportAsCsv()">
      <mat-icon>download</mat-icon> CSV
    </button>
  </div>

  @if (loading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  } @else {
    <app-chart
      [chartConfiguration]="chartConfiguration"
      class="flex-1"
    ></app-chart>
  }
</div>
