@if (electricityUpdateReceived()) {
  <div class="w-full flex text-sm">
    <div class="grow"></div>
    <div class="flex items-center">
      <mat-icon>bolt</mat-icon>
      <div>
        {{ electricityPower() }} current,
        {{ cumulativeElectricityDay() }}
      </div>
    </div>
    <div class="grow"></div>
  </div>
}

@if (gasUpdateReceived()) {
  <div class="w-full flex text-sm">
    <div class="grow"></div>
    <div class="flex items-center">
      <mat-icon>mode_heat</mat-icon>
      <div>
        {{ cumulativeGasDay() }}
      </div>
    </div>
    <div class="grow"></div>
  </div>
}

@if (isDownloading()) {
  <app-data-downloading></app-data-downloading>
}
