<div class="flex flex-col w-full h-full">
  <div class="flex-1 overflow-auto">
    <header class="flex items-center mb-4">
      <button mat-icon-button type="button" routerLink="/settings">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-icon class="mx-1">chevron_right</mat-icon>
      <h3>MQTT Settings</h3>
    </header>

    <form [formRoot]="form">
      <div class="flex flex-col gap-4">
        <mat-form-field appearance="outline">
          <mat-label>Hostname</mat-label>
          <input matInput [formField]="form.hostname" />
          <mat-error>{{ form.hostname().errors().at(0)?.message }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Electricity Sensor Topic</mat-label>
          <input matInput [formField]="form.topic" />
          <mat-error>{{ form.topic().errors().at(0)?.message }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Gas Sensor Topic</mat-label>
          <input matInput [formField]="form.gasTopic" />
          <mat-error>{{ form.gasTopic().errors().at(0)?.message }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput [formField]="form.username" />
          <mat-error>{{ form.username().errors().at(0)?.message }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" [formField]="form.password" />
          <mat-error>{{ form.password().errors().at(0)?.message }}</mat-error>
        </mat-form-field>
      </div>
      <div class="mt-4 space-x-4">
        <button
          mat-raised-button
          type="submit"
          [disabled]="form().invalid() || !form().dirty()"
        >
          Save Changes
        </button>

        <button mat-raised-button type="button" (click)="clear()">Clear</button>
      </div>
    </form>
  </div>
</div>
