<p>
  This program is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  FOR A PARTICULAR PURPOSE. See licensing for full details. Please be aware of
  the following information to aid your understanding of this application.
</p>
<h3>Definitions</h3>
The below terms are defined as follows:
<ul>
  <li>'We' refers to the developers of this application,</li>
  <li>'you' and 'your' refers to the user of this application,</li>
  <li>
    'Application' means this software program and its associated services.
  </li>
</ul>
<h3>Data Source</h3>
<p>
  This application obtains source data from third party services (e.g. Glowmarkt
  API) over which we have no control or input. We make no guarantees regarding
  the accuracy, completeness or availability of this data. These services may be
  modified or discontinued without notice at any time.
</p>
<h3>Independence and Non Affiliation</h3>
<p>
  This application operates independently and is not in any way affiliated with
  or endorsed by any energy supplier or energy data provider, including
  Hildebrand Technology Limited.
</p>
<h3>Data Usage</h3>
<p>
  The data displayed in this application should be regarded as estimated data
  only. These estimates may be incomplete and differ from your actual energy
  consumption and incurred costs as reflected on your actual energy bill.
</p>
<h3>Purpose</h3>
<p>
  The information provided by this application is for informational purposes
  only. It should not be relied upon for decision making regarding your energy
  consumption or related financial decisions.
</p>
<h3>Data Access</h3>
<p>
  You agree to only use this application to view data for which you are the bill
  payer or have explicit permission from the bill payer to access.
</p>
<h3>Local Data Storage</h3>
<p>
  All data downloaded through this application is stored locally on your device.
  We do not store or process any of your energy consumption data on remote
  servers or machines.
</p>
<h3>Device Usage</h3>
<p>
  For your privacy and data security, you should only use this application on
  your own private device. Using the application on public devices may expose
  your data to unauthorized access. When you no longer require this information,
  you are responsible for removing this data from your device. It is good
  practice to use the 'Clear All Data' or 'Reset' options from the Settings
  screen before closing the application and removing it.
</p>
<h3>Limitations</h3>
<p>
  While we strive to provide useful information, this application makes no
  guarantees as to the accuracy, completeness, or reliability of the data
  presented. Users should be aware of these limitations when interpreting the
  information provided.
</p>
<h3>Updates</h3>
<p>
  We reserve the right to update this guidance as necessary. Please review it
  periodically for any changes.
</p>

<p>Last updated: February 15, 2025</p>
