<form [formGroup]="glowmarktCredentialsForm" (ngSubmit)="onSubmit()">
  <div class="flex flex-col gap-4">
    <mat-form-field subscriptSizing="dynamic" class="w-1/2">
      <mat-label>Bright Username</mat-label>
      <input
        matInput
        type="input"
        formControlName="glowmarktUsernameCtrl"
        placeholder="Enter Bright username"
      />
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic" class="w-1/2">
      <mat-label>Bright Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="glowmarktPasswordCtrl"
        placeholder="Enter Bright password"
      />
    </mat-form-field>
  </div>
  <div class="mt-4">
    <button
      mat-raised-button
      type="submit"
      [disabled]="
        glowmarktCredentialsForm.invalid || !glowmarktCredentialsForm.dirty
      "
    >
      Save
    </button>
  </div>
</form>
