<form [formGroup]="apiKeyForm" (ngSubmit)="onSubmit()">
  <mat-form-field subscriptSizing="dynamic" class="w-1/2">
    <mat-label>In Home Device (IHD) MAC Address</mat-label>
    <input
      matInput
      type="password"
      formControlName="apiKey"
      placeholder="Enter IHD MAC Address"
    />
    @if (apiKeyForm.get('apiKey')?.errors?.['noHyphen']) {
      <mat-error>Hyphens should be omitted from this field.</mat-error>
    }
    @if (apiKeyForm.get('apiKey')?.errors?.['exactLength']) {
      <mat-error>This field must be exactly 16 characters long.</mat-error>
    }
  </mat-form-field>
  <div class="mt-4">
    <button mat-raised-button type="submit" [disabled]="apiKeyForm.invalid">
      Save
    </button>
  </div>
</form>
