<h3 class="mat-title-small">Data Source</h3>
<p>
  This application obtains source data from the n3rgy consumer API. We make no
  guarantees regarding the accuracy or availability of this data.
</p>
<h3 class="mat-title-small">Data Usage</h3>
<p>
  The data displayed in this application should be considered estimates only.
  These estimates may differ from your actual energy costs as reflected on your
  official energy bill.
</p>
<h3 class="mat-title-small">Purpose</h3>
<p>
  The information provided by this application is for informational purposes
  only. It should not be relied upon as the sole basis for decision-making
  regarding your energy consumption or related financial decisions.
</p>
<h3 class="mat-title-small">Local Data Storage</h3>
<p>
  All data downloaded through this application is stored locally on your device.
  We do not store or process any of your energy consumption data on remote
  servers or machines.
</p>
<h3 class="mat-title-small">Data Access</h3>
<p>
  You agree to only use this application to view data for which you are the bill
  payer or have explicit permission from the bill payer to access.
</p>
<h3 class="mat-title-small">Device Usage</h3>
<p>
  For your privacy and data security, you should only use this application on
  your own private device. Using the application on public devices may expose
  your data to unauthorized access.
</p>
<h3 class="mat-title-small">Limitations</h3>
<p>
  While we strive to provide useful information, this application makes no
  guarantees as to the accuracy, completeness, or reliability of the data
  presented. Users should be aware of these limitations when interpreting the
  information provided.
</p>
<h3 class="mat-title-small">Updates</h3>
<p>
  We reserve the right to update this statement as necessary. Please review it
  periodically for any changes.
</p>

<p>Last updated: September 23, 2024</p>
